.navbar{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 15px 20px 0px rgba(0,29,77,0.21);
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0,29,77,0.21);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0,29,77,0.21);
}

.navbar-logo{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}

.navbar-logo a{
    display: inline-block;
    margin-left: 50px;
    padding: 10px;
    font-size: 24px;
    color: #033d7b;
    text-transform: uppercase;
}

.navbar-logo a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #033d7b;
    transition: ease-in-out .3s;
}

.navbar-logo a:hover::after{
    width: 100%;
}

.navbar-items{
    height: 100%;
    width: 70%;
}

.navbar-items ul{
    height: 100%;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.nav-item a{
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    color: #033d7b;
    text-transform: uppercase;
}

.nav-item a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #033d7b;
    transition: ease-in-out .3s;
}

.nav-item a:hover::after{
    width: 100%;
}