.users-container{
    max-height: 500px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgba(0,29,77,0.21);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(0,29,77,0.21);
    -moz-box-shadow: 0px 0px 10px 10px rgba(0,29,77,0.21);
    overflow-y: auto;
}

.users-header{
    height: 80px;
    width: 100%;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.users-logo{
    height: 70px;
    width: 70px;
    margin-left: 10px;
    border-radius: 50%;
}

.users-info{
    height: 60px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.users-search{
    height: 50px;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users-search input{
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #033d7b;
    border-radius: 5px;
}

.users-available{
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.users-link-container{
    height: 100%;
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #000;
}

.users-available-logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.users-available-info{
    height: 50px;
    width: 400px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.users-available-state{
    display: flex;
    align-items: center;
}

.users-available-state .bubbleInactive{
    height: 10px;
    width: 10px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: red;
}

.users-available-state .bubbleActive{
    height: 10px;
    width: 10px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: green;
}

.noUsersFound{
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}